[bumpversion]
current_version = 0.0.1

[bumpversion:file:VERSION]

[bumpversion:file:pyproject.toml]

[bumpversion:file:firmware_lifter/__init__.py]
search = VERSION = "{current_version}"
replace = VERSION = "{new_version}"
